.header-navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 1027px;
  margin: 0 auto;

  .site-branding-container {
  }

  .navigation-menu-container {
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
